doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/style.css")
    link(rel="icon" type="image/png" href="/favicon.png")
    style.
      @import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
  body
    h1 Hotel Search Results
    if hotels.length
      ul
        each hotel in hotels
          a(href=`/hotel/${hotel.HotelID}`).card
            p.card-title #{hotel.HotelName}
            p.small-desc #{hotel.Address}

    else
      p No matching hotels found.

    a(href="/") 
      button.search-submit(type='submit' name='submit') Back to Search
