doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/style.css")
    link(rel="icon" type="image/png" href="/favicon.png")
    style.
      @import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
    body
      h1 Search Your Favourite 
      form(role='search' method='POST' action='/hotel')
        .container
          .input-container
            input.search-input(type='number' value='' name='top_k' placeholder='How many Hotels you want to review?')
        .container
          textarea.search-input(name='query' placeholder='Description' rows='10' cols='50')
        .button 
          button.search-submit(type='submit' name='submit') Search
            
      span
        | Demo By
        span.team  The Espadas